{% extends 'mainsite/base.html' %}
{% load static %}
{%block in_head%}<link rel="stylesheet" href="{% static 'mainsite/main_style.css' %}">{%endblock%}
{%block title%}Кошки-Мышки{%endblock%}
{%block content%}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(90327668, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/90327668" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<div class="main">
    <div class="main_inside">
        {% load static %}
        <div class="block_heder">
            <a href="gallery"><div class="heder_text">Галерея</div></a>
            <a href="rules"><div class="heder_text">Правила</div></a>
            <a href="contacts"><div class="heder_text">Контакты</div></a>
            <a href="price"><div class="heder_text">Цены</div></a>
            <a href="reviews"><div class="heder_text">Отзывы</div></a>
            <a href="calendar"><div class="heder_text">Забронировать</div></a>
            <div class="phone_wa_tg">
                <div>Тел: 8-988-471-8-571</div>
                <div class="social">
                    <a class="social_link_wa" href="https://wa.me/+79884718571"></a>
                    <a class="social_link_tg" href="https://t.me/+wXDdIQBZ3j5lMDhi"></a>
                    <a class="social_link_insta" href="https://www.instagram.com/koshki_myishki/"></a>
                </div>
            </div>
        </div>
        <div class="block_logo">
            <div class="img_logo">
            </div>
        </div>
        <div class="block_services">
            <a href="gallery">
                <div class="img_services_left">
                    <div class="pic"><img class="img_size" src="{% static 'mainsite/cake.png' %}" alt=""></div>
                    <div class="service_text">Дни рождения</div>
                </div>
            </a>
            <a href="gallery">
                <div class="img_services_right">
                    <div class="pic"><img class="img_size" src="{% static 'mainsite/boobles.png' %}" alt=""></div>
                    <div class="service_text">Праздники</div>
                </div>
            </a>
            <a href="gallery">
                <div class="img_services_left">
                    <div class="pic"><img class="img_size" src="{% static 'mainsite/coffe.png' %}" alt=""></div>
                    <div class="service_text">Зона кафе</div>
                </div>
            </a>
            <a href="gallery">
                <div class="img_services_right">
                    <div class="pic"><img class="img_size" src="{% static 'mainsite/wifi.png' %}" alt=""></div>
                    <div class="service_text">WiFi</div>
                </div>
            </a>
        </div>
        <div class="block_galary">
            {% load static %}
            <div class="slider" id="slider">
                <div class="slider-content" id="slider-content">
                    <div class="sl-img">
                        <div class="sl-img-item sl-img-item-active" data-id="1"><img src="{% static 'mainsite/6.jpg' %}"/></div>
                        <div class="sl-img-item" data-id="2"><img src="{% static 'mainsite/1.jpg' %}"/></div>
                        <div class="sl-img-item" data-id="3"><img src="{% static 'mainsite/2.jpg' %}"/></div>
                        <div class="sl-img-item" data-id="4"><img src="{% static 'mainsite/3.jpg' %}"/></div>
                        <div class="sl-img-item" data-id="5"><img src="{% static 'mainsite/4.jpg' %}"/></div>
                        <div class="sl-img-item" data-id="6"><img src="{% static 'mainsite/5.jpg' %}"/></div>
                    </div>
                    <div class="sl-text">
                        <div class="sl-text-item sl-text-item-active" data-id="1">
                            <div class="sl-text-item-head"></div>
                            <div class="sl-text-item-info">
                                <p>Кошки-мышки</p>
                            </div>
                        </div>
                        <div class="sl-text-item" data-id="2">
                            <div class="sl-text-item-head"></div>
                            <div class="sl-text-item-info">
                                <p>Кошки-мышки</p>
                            </div>
                        </div>
                        <div class="sl-text-item" data-id="3">
                            <div class="sl-text-item-head"></div>
                            <div class="sl-text-item-info">
                                <p>Кошки-мышки</p>
                            </div>
                        </div>
                        <div class="sl-text-item" data-id="4">
                            <div class="sl-text-item-head"></div>
                            <div class="sl-text-item-info">
                                <p>Кошки-мышки</p>
                            </div>
                        </div>
                        <div class="sl-text-item" data-id="5">
                            <div class="sl-text-item-head"></div>
                            <div class="sl-text-item-info">
                                <p>Кошки-мышки</p>
                            </div>
                        </div>
                        <div class="sl-text-item" data-id="6">
                            <div class="sl-text-item-head"></div>
                            <div class="sl-text-item-info">
                                <p>Кошки-мышки</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider__nav">
                    <div class="sl-nav-arrows">
                        <div class="sl-nav-arrow sl-nav-arrow-left" id="left">Лево</div>
                        <div class="sl-nav-arrow sl-nav-arrow-right" id="right">Право</div>
                    </div>
                    <div class="sl-nav-dots" id="sl-nav-dots">
                        <div class="sl-nav-dot sl-nav-dot-active" data-id="1"></div>
                        <div class="sl-nav-dot" data-id="2"></div>
                        <div class="sl-nav-dot" data-id="3"></div>
                        <div class="sl-nav-dot" data-id="4"></div>
                        <div class="sl-nav-dot" data-id="5"></div>
                        <div class="sl-nav-dot" data-id="6"></div>
                    </div>
                </div>
            </div>
        </div>
         <div class="block_footer">
            <div class="footer_link">
                <a href="gallery"><div class="footer_div">Галерея</div></a>
                <a href="rules"><div class="footer_div">Правила</div></a>
                <a href="price"><div class="footer_div">Цены</div></a>
                <a href="reviews"><div class="footer_div">Отзывы</div></a>
            </div>
            <div class="footer_info">
                <div>
                    <p>Контакты:</p>
                    <p>Адрес : г.Краснодар, ул. Черкасская 113а, 3 этаж</p>
                    <p>Телефон : 8-988-471-8-571</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'mainsite/galary.js' %}"></script>
{%endblock%}
